body {
    background-color: black;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

#navbarNav ul {
    margin-left: auto;
}

.navbar {
    background-color: rgb(0, 0, 0);
}

.name {
    font-size: 30px;
    font-weight: bold;
    color: white !important;
    text-decoration: none !important;
}

.name::first-letter {
    text-transform: capitalize;
    color: rgb(226, 43, 119);
}

.custom-nav .nav-link {
    color: white !important;
    font-size: 18px;
    position: relative;
}

.custom-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    margin-left: 7px;
    margin-bottom: 5px;
    background: rgb(226, 43, 119);
    transition: width 0.4s ease-in-out;
}

.custom-nav .nav-link:hover::before {
    width: 50%;
}

.container .home {
    padding-top: 130px;
}

.text-cont {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
}

.text-cont h1 {
    font-weight: bold;
    font-size: 40px;
}

.text-cont h3 {
    font-size: 25px;
    font-weight: bold;
}

#nada {
    color: rgb(226, 43, 119);
}

.text-cont p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin-top: 15px;
    text-align: justify;
}


.images img {
    width: 84%;
    text-align: center;
}

.images {
    display: flex;
    justify-content: flex-end;
}

.rounded-image {
    border-radius: 50%;
}

.icons i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    color: rgb(226, 43, 119);
    border-radius: 50%;
    font-size: 20px;
    margin-right: 17px;
    box-shadow: 0 0 20px transparent;
    cursor: pointer;
    transition: all .50s ease;
}

.icons i:hover {
    transform: scale(1.08);
    box-shadow: 0 0 15px rgb(226, 43, 119);
}

.icons a {
    text-decoration: none;
}

.about {
    margin-top: 20px;
    padding-top: 100px;
    padding-bottom: 15px;
}


.container .about .AboutImage {
    height: 100%;
}

.container .about .AboutImage img {
    height: 100%;
    width: auto;
    border-radius: 10%;
}

.aboutText {
    color: white;
    padding: 20px;
}

.aboutText h1 {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 2px;
}

.aboutText h5 {
    margin-bottom: 5px;
    margin-left: 5px;
    font-weight: bold;
}

.aboutText p {
    margin-left: 5px;
    line-height: 1.6;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 15px;
}

.aboutList {
    display: flex;
    margin-left: 2px;
    margin-top: -13px;
}

.aboutLinks {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.aboutLinks::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(226, 43, 119);
    transition: width 0.3s ease-in-out;
}

.aboutLinks.active-link::after {
    width: 50%;
}

.linksContent ul li {
    list-style: none;
    margin: 9px;
    margin-left: -25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.linksContent span {
    color: rgb(226, 43, 119);
    font-size: 14px;
}

.linksContent {
    display: none;
}

.linksContent.active-tab {
    display: block;
}

.services {
    padding-top: 40px;
}

.myServices {
    padding-bottom: 25px;
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.servicesRow {
    justify-content: center;
    padding-top: 40px;
}

.servicesRow .col-md-4 {

    margin: 12px;
    width: 300px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(226, 43, 119);
    transition: transform 0.8s ease, box-shadow 0.5s ease;
}

.servicesRow .col-md-4:hover {
    z-index: 1;
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(226, 43, 119);
}

.servicesRow .info {
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    text-align: justify;
    padding-right: 15px;
}

.servicesRow .col-md-4 .info i {
    color: rgb(226, 43, 119);
    backdrop-filter: brightness(100%);
    font-size: 30px;
}

.servicesRow .col-md-4 .info .title {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}

.servicesRow .col-md-4 .info .desc {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-top: 10px;
}

.certificates {
    margin-top: 20px;
    height: 670px;
    padding-top: 70px;
    margin-bottom: 30px;

}

.MyCertificates {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.certificatesCarousel {
    padding-top: 30px;
    align-content: center;
}

.carousel-inner .carousel-item img {
    width: 850px;
    height: 450px;
}

.contact {
    height: auto;
    padding-top: 40px;
}

.contactMe {
    padding-left: 20px;
    color: white;
}

.contactMe h1 {
    font-weight: bold;
    color: white;
    font-size: 50px;
}

.contactInfo {
    padding-top: 30px;
    font-size: 17px;
}

.contactInfo .mycont {
    padding-bottom: 30px;
}

.contactInfo .mycont span {
    color: white;
    font-size: 18px;
}

.contactInfo .mycont i {
    color: rgb(226, 43, 119);
    margin-right: 20px;
}

.inputs {
    width: 590px;
}

.inputs input,
.inputs textarea {
    color: white;
    background-color: #262626;
    border-color: #262626;
}

.inputs ::placeholder {
    color: white;
    font-size: 16px;
}

.inputs input:focus,
.inputs textarea:focus {
    color: white;
    background-color: #262626;
    border-color: #262626;
    box-shadow: none;
}

.inputs button {
    color: white;
    font-size: 19px;
    background-color: rgb(226, 43, 119);
    width: 90px;
    height: 40px;
    transition: transform 0.8s ease, box-shadow 0.5s ease;
    border: rgb(226, 43, 119);
    border-radius: 10px;
}

.inputs button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(226, 43, 119);
}

.footer {
    background-color: #262626;
    padding: 25px 0;
    text-align: center;
    margin-top: 100px;
}

.footer p {
    color: white;
    margin-bottom: 0;
    font-size: 16px;
}

.footer p i {
    color: rgb(226, 43, 119);
}

.scrollToTopBtn {
    display: none;
    position: fixed;
    background-color: rgb(226, 43, 119);
    color: aliceblue;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
    border-radius: 5px;
    border-color: rgb(226, 43, 119);
    transition: transform 0.8s ease, box-shadow 0.5s ease;
}

.scrollToTopBtn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 20px rgb(226, 43, 119);
}

@media (max-width: 576px) {
    .row.together {
        position: relative;
    }

    .col-sm-12.order-md-2 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1;
    }

    .text-cont {
        padding-top: 300px;
    }

    .images>div[class^="col"] {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .images {
        justify-content: center;
        align-items: center;
    }

    .text-cont {
        color: white;
        font-family: 'Times New Roman', Times, serif;
        margin-top: -20px;
        text-align: center;
    }

    .about {
        margin-top: 10px;
        padding-top: 70px;
        padding-bottom: 15px;
    }

    .services {
        padding-top: 1px;
    }

    .inputs {
        width: 590px;
        margin-top: 10px;
    }

    .contact {
        height: auto;
        padding-top: 20px;
    }

    .footer {
        background-color: #262626;
        padding: 15px 0;
        text-align: center;
        margin-top: 35px;
    }

    .footer p {
        color: white;
        margin-bottom: 0;
        font-size: 13px;
    }

    .scrollToTopBtn {
        display: none;
        position: fixed;
        background-color: rgb(226, 43, 119);
        color: aliceblue;
        bottom: 5px;
        right: 5px;
        font-size: 15px;
        border-radius: 5px;
        border-color: rgb(226, 43, 119);
        transition: transform 0.8s ease, box-shadow 0.5s ease;
    }

    .name::first-letter {
        text-transform: capitalize;
        color: rgb(226, 43, 119);
    }

    .navbar-nav.custom-nav {
        flex-direction: row !important;
        align-items: flex-start;
    }


    .navbar-nav.custom-nav .nav-link {
        padding: 0px 4px;
    }

    .custom-nav .nav-link {
        font-size: 15px;

    }

    .name {
        font-size: 26px;

    }

    .contact {
        display: none;
    }

    .contact-section {
        display: block;
    }

    .custom-nav .nav-link::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        margin-left: 7px;
        margin-bottom: -2px;
        background: rgb(226, 43, 119);
        transition: width 0.4s ease-in-out;
    }

    .custom-nav .nav-link:hover::before {
        width: 40%;
    }

    .container .home {
        padding-top: 100px;
    }

    .iconsSm i {
        position: relative;
        right: 60px !important;
        font-size: 20px;
    }


    .text-cont h1,
    .aboutText h1 {
        font-size: 35px;
    }

    .text-cont h3 {
        font-size: 23px;
    }

    .aboutText h5 {
        font-size: 18px;

        margin-bottom: 5px;
        margin-left: 5px;
        font-weight: bold;
    }

    .myServices,
    .MyCertificates,
    .contactMe h1 {
        position: relative;
        top: -15px;
        font-size: 37px;
        margin-bottom: -15px;
    }

    .contact {
        margin-top: -40px;
    }


}